 <!--Loads the path to your static files -->
{% extends 'music/base.html' %}

 {% block body %}


        {% if all_albums %}
            <h3>
                Here are all my Albums:
            </h3>
            <ul>
                {% for album in all_albums %}
                <li>
                    <a href="{% url 'music:detail' album.id %}">{{ album.album_title}}</a>
                    <a href="{% url 'music:album_update' album.id %}">(update)</a>
                    <form action="{% url 'music:album_delete' album.id %}" method=""post">
                        {% csrf_token %}
                        <button type="submit">delete</button>
                    </form>
                    <!--<a href="{% url 'music:album_delete' album.id %}">(delete)</a>-->

                </li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>
                You don't have any albums
            </h3>
        {% endif %}
{% endblock %}